<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
    <%= link_to "Add a plant", new_garden_plant_path(@garden), class: "btn btn-success" %>
  </div>
</div>

<div class="container my-5">
  <div class="row">

    <% @plants.each do |plant| %>
      <div class="col-4">
        <div class="card-category py-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.photo_url %>)">

            <div class='tags-container'>
              <% plant.tags.each do |tag| %>
                <div class='tag-pill'>
                  <%= tag.name %>
                </div>
              <% end -%>
            </div>
            <p>
              <%= plant.name %>
            </p>
            <%= link_to 'Delete', plant_path(plant), method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to 'Add a tag', new_plant_plant_tag_path(plant)  %>
        </div>
      </div>
    <% end -%>

  </div>
</div>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
